*{
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    
    


}

.container::after{
    float: right;
    float: left;
    transform: translate(-50,-50);
}
.mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    
}

.mat-ripple {
    overflow: hidden;
    position: relative;
}

.product-containers {
    display: flex;
    
}

.card img {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
    position: relative;
    
    // transition: 0.3s ease-in-out;
}

.card{
    padding: 20px;
    margin: 2px;
    padding-top: 10px;
}


.card:hover {
    box-shadow: 0 5px 15px rgb(255,192,236); 
}

.SimilarBooks{
    background-color:rgb(255,192,236);
    text-align:left; 
    font-size: medium;
    border: 50px;
    left:30px;
    color:rgb(17,0,255);
    padding: 4px;
}